<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0">
  <display-name>0427_HelloAjax</display-name>
  
  <servlet>
  	<servlet-name>intro servlet</servlet-name>
  	<servlet-class>co.edu.servlet.Info</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>intro servlet</servlet-name>
  	<url-pattern>/home/info.do</url-pattern>
  </servlet-mapping>
  
<!-- 웹 브라우저에 http://localhost/0427_HelloAjax/intro.do 라고 입력하면, 
     co.edu.servlet.Info 파일을 출력해줄게ㅋ 그 페이지 이름 intro servlet이라고 정한 거잖아 맞지?-->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>